# Lab 5. Data Sci. kNN Decision Trees

Name: Amina Smagulova
    
Student ID:15BD02106
    
Email:aminasmagulovaaa@gmail.com

## Part 1: Pandas

Answer questions about data on flights to the United States.

Data: 2008.csv.bz2 in archive (note that it is not necessary to unpack this file — the pandas.read_csv function is able to read from archives automatically)

Code book of dataset: http://stat-computing.org/dataexpo/2009/the-data.html

* Which of the reasons for flight cancellation (CancellationCode) was the most frequent? (decoding codes can be found in the data description)

* Find the average, minimum and maximum distance traveled by plane.

* Does the minimum distance traveled look suspicious? On which days and on which flights was it? What distance was covered by the same flights on other days?

* What airport was the most departures from? What city is it located in?

* Find for each airport the average flight time (AirTime) for all flights departing from it. Which airport has the highest value of this indicator?

* Find the airport with the largest share of delayed (DepDelay> 0) flights. At the same time, exclude from consideration airports from which less than 1000 flights were sent (use the filter function after groupby).

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("2008.csv.bz2")
data.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009728.0,7.009728e+06,7.009728e+06,7.009728e+06,6.873482e+06,7.009728e+06,6.858079e+06,7.009728e+06,7.009728e+06,6.855029e+06,...,7.009728e+06,6.858079e+06,6.872670e+06,7.009728e+06,7.009728e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06
mean,2008.0,6.375130e+00,1.572801e+01,3.924182e+00,1.333830e+03,1.326086e+03,1.481258e+03,1.494801e+03,2.224200e+03,1.273224e+02,...,7.263870e+02,6.860852e+00,1.645305e+01,1.960618e-02,2.463006e-03,1.577206e+01,3.039031e+00,1.716462e+01,7.497434e-02,2.077098e+01
std,0.0,3.406737e+00,8.797068e+00,1.988259e+00,4.780689e+02,4.642509e+02,5.052251e+02,4.826728e+02,1.961716e+03,7.018731e+01,...,5.621018e+02,4.933649e+00,1.133280e+01,1.386426e-01,4.956753e-02,4.009912e+01,1.950287e+01,3.189495e+01,1.837940e+00,3.925964e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,6.220000e+02,7.700000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,1.571000e+03,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,3.518000e+03,1.570000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [5]:
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

 Which of the reasons for flight cancellation (CancellationCode) was the most frequent? (decoding codes can be found in the data description)

The answer is B (weather)

In [6]:
np.argmax(data.CancellationCode.value_counts())

'B'

Find the average, minimum and maximum distance traveled by plane.

In [7]:
data['Distance'].mean()

726.3870294253928

In [8]:
data['Distance'].min()

11

In [9]:
data['Distance'].max()

4962

Does the minimum distance traveled look suspicious? On which days and on which flights was it? What distance was covered by the same flights on other days?

In [10]:
df=pd.read_csv("2008.csv.bz2")
df11 = df[df.Distance == 11]
print (df11[['Year','Month','DayofMonth','DayOfWeek','FlightNum','UniqueCarrier']])

t4988 = df[df.FlightNum == 4988]
t5572 = df[df.FlightNum == 5572]

print (t4988[df.UniqueCarrier == 'OH'].Distance.value_counts())

print (t5572[df.UniqueCarrier == 'OH'].Distance.value_counts())

         Year  Month  DayofMonth  DayOfWeek  FlightNum UniqueCarrier
2547298  2008      5          15          4       4988            OH
4392215  2008      8          10          7       5572            OH

/Users/amina/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

834    130
96       1
11       1
Name: Distance, dtype: int64
544    243
11       1
Name: Distance, dtype: int64

/Users/amina/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

What airport was the most departures from? What city is it located in?

In [11]:
np.argmax(df.Origin.value_counts())

'ATL'

Find for each airport the average flight time (AirTime) for all flights departing from it. Which airport has the highest value of this indicator?

In [12]:
print(df.groupby('Origin').AirTime.mean())
np.argmax(df.groupby('Origin').AirTime.mean())

Origin
ABE     89.057518
ABI     36.789977
ABQ     91.657166
ABY     35.379759
ACK     50.692124
ACT     29.875977
ACV     58.850658
ACY    108.848214
ADK    151.423913
ADQ     41.987934
AEX     68.543556
AGS     36.933814
AKN     37.321429
ALB    101.860527
ALO     36.373134
AMA     56.196001
ANC    156.163749
ASE     48.307996
ATL     93.320419
ATW     50.696326
AUS    101.266600
AVL     69.899021
AVP     94.665204
AZO     34.846602
BDL    118.701612
BET     57.597815
BFL     64.024511
BGM     66.582260
BGR     90.211095
BHM     82.290713
          ...
SPS     29.490040
SRQ    103.083807
STL     99.294409
STT    168.681929
STX    168.101176
SUN     48.221851
SUX     44.918919
SWF    132.768826
SYR     84.524087
TEX     93.124183
TLH     59.293080
TOL     48.295047
TPA    117.917963
TRI     47.871046
TUL     80.876802
TUP     42.900000
TUS     92.801864
TVC     49.328770
TWF     41.316563
TXK     43.796312
TYR     30.372715
TYS     81.030894
VLD     45.158351
VPS     75.231116
WRG     16.741606
WYS     62.961977
XNA     84.253180
YAK     36.372159
YKM     80.697329
YUM     48.876952
Name: AirTime, Length: 303, dtype: float64

'SJU'

Find the airport with the largest share of delayed (DepDelay> 0) flights. At the same time, exclude from consideration airports from which less than 1000 flights were sent (use the filter function after groupby).

In [15]:
grouped = data.groupby('Origin').filter(lambda x: len(x)>=1000)

In [16]:
filtred = grouped.groupby('Origin')
tmp = filtred.agg(lambda x: sum(x['DepDelay']>0)/float(len(x['DepDelay'])))['DepDelay']
max(tmp.iteritems(), key = lambda x: x[1])

('DAL', 0.57864189289422929)